<article>
    <%# comment content %>
     <p><%= comment.content %> </p>
    <small> by <%= comment.user.email %></small>

    <%# Use link to toggle form %>
    <a href='#' class="comment-form-display">reply</a>
    <%# When rendering the form, you want to pass in the current comment as the parent so when it renders the form and you actually submit a new comment, it will use the comment id as the parent_id to create the association for the newly nested comment %>
    <div class="comment-form">
        <%= render partial: 'comments/form', locals: {post: comment.post, parent: comment } %>
    </div>


    <hr>   

    <%# recursively render the subcomments %>
    <div class="sub-comment">
        <%= render comment.comments %>
    </div>
</article>

<script>
    document.querySelectorAll('.comment-form-display').forEach((el) => {
        el.addEventListener('click', (e) => {
            e.preventDefault();
            el.nextElementSibling.style = 'display: block';
        })
    })
</script>